<app-template-header></app-template-header>

<div class="list-view">
    <h4 (click)="toDoShow=!toDoShow">Open <span>( {{$todos.length}} )</span></h4>
    <div *ngIf="toDoShow" class="todo-elements">
        <app-template-todo (ping)="update($event)" [todo$]="todo" *ngFor="let todo of $todos"></app-template-todo>
    </div>
    <app-template-todo-form (ping)="update($event)" *ngIf="toDoShow"></app-template-todo-form>
    <h4 (click)="doneShow=!doneShow">Done <span>( {{$dones.length}} )</span></h4>
    <div *ngIf="doneShow" class="todo-elements">
        <app-template-todo (ping)="update($event)" [todo$]="done" *ngFor="let done of $dones"></app-template-todo>
    </div>
</div>