<div class="todo" [class.done]="todo$.status">
    <div class="todo-content">
        <div class="handle">
            <img src="./assets/svg/drag.svg" alt="drag">
        </div>
        <div class="todo-content-check" (click)="changeCheck()">
            <img *ngIf="todo$.status" src="./assets/svg/checkbox-empty.svg" alt="ckeckbox">
            <img *ngIf="!todo$.status" src="./assets/svg/checkbox-done.svg" alt="ckeckbox">
        </div>
        <div class="todo-content-titel">
            <input type="text" [(ngModel)]="todo$.label" [disabled]="todo$.status" (blur)="changeLabel()" placeholder="Name of ToDo-PI">
        </div>
    </div>
    <div class="delete" (click)="deleteToDo()">
        <span>Delete</span>
    </div>
</div>
