<div class="todo-form">
    <div class="todo-content">
        <input type="text" [(ngModel)]="todo$.label" (keyup.enter)="createToDo()" placeholder="Name of ToDo-Item">
    </div>
    <div class="create" (click)="createToDo()">
        <span>Create</span>
    </div>
</div>
